{{- define "kubectl-initializer" -}}
- name: kubectl-initializer.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Service to extract the kubectl binary to /opt/bin/kubectl
    After={{ required ".Values.worker.containerRuntimeSystemdService is required" .Values.worker.containerRuntimeSystemdService }}
    {{- if eq .Values.worker.cri.name .Values.osc.cri.names.docker }}
    Wants=docker.socket
    {{- else }}
    After=download-crictl.service
    {{- end }}
    [Install]
    WantedBy=multi-user.target
    [Service]
    Restart=on-failure
    RemainAfterExit=true
    ExecStart=/opt/bin/init-kubectl
{{- end -}}