##########
# Please use this template to maintain your infrastructure credentials bindings and
# save the resulting file at credentialsbindings.yaml file in the same directory.
##########
---
apiVersion: security.gardener.cloud/v1alpha1
kind: CredentialsBinding
metadata:
  name: infra-credentials
  namespace: ""
    # The name of the project prefixed with `garden-`, e.g. garden-<project-name>
provider:
  type: ""
    # The type of your provider, e.g. <aws|az|gcp|alicloud|...>
credentialsRef:
  apiVersion: security.gardener.cloud/v1alpha1
  kind: WorkloadIdentity
  name: infra-credentials
  namespace: ""
    # The name of the project prefixed with `garden-`, e.g. garden-<project-name>
