{{define "docker-monitor" -}}
- name: docker-monitor.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Docker-monitor daemon
    After=kubelet.service
    [Install]
    WantedBy=multi-user.target
    [Service]
    Restart=always
    EnvironmentFile=/etc/environment
    ExecStart=/opt/bin/health-monitor docker
{{- end}}
