# Ignore everything
**

# Exclude folders relevant for build
!.git
!.dockerignore
!charts/
!cmd/
!extensions/
!hack/
!imagevector/
!pkg/
!plugin/
!test/
!third_party/
!vendor/
!.golangci.yaml
!go.mod
!go.sum
!Makefile
!VERSION
