/args
/bin
/hack/tools/bin
/.kube-secrets
/tmp/*
/local
/dev

*.test
*.coverprofile
*.html
.vscode
.idea
.DS_Store
*~

.cache_concourse
./gardener-apiserver
./gardener-controller-manager
TODO
.vagrant
config.ign.merged
config.img
config.vmdk

/test/framework/resources/charts/*
/test/framework/resources/repository/cache
/test/framework/resources/shoots

# Virtual go & fuse
.virtualgo
.fuse_hidden*

# GitGuardian
.cache_ggshield
