/args
/bin
/.kube-secrets
/tmp/*
/dev

*.coverprofile
*.html
.vscode
.idea
.DS_Store
*~

./gardener-apiserver
./gardener-controller-manager
TODO
.vagrant
config.ign.merged
config.img
config.vmdk

/test/integration/resources/charts/*
/test/integration/resources/repository/cache
/test/integration/resources/shoots

# Virtual go & fuse
.virtualgo
.fuse_hidden*

