# gardener maintainers
*                @gardener/gardener-maintainers

# test-related directory maintainers
/.test-defs      @gardener/gardener-maintainers @gardener/test-infra-maintainers
/test            @gardener/gardener-maintainers @gardener/test-infra-maintainers
/extensions/test @gardener/gardener-maintainers @gardener/test-infra-maintainers
