{{- define "var-lib-mount" -}}
{{- if .Values.worker.kubeletDataVolume }}
- name: var-lib.mount
  content: |
    [Unit]
    Description=mount /var/lib on kubelet data device
    Before=kubelet.service
    [Mount]
    What=/dev/disk/by-label/kubeletdev
    Where=/var/lib
    Type=xfs
    Options=defaults
    [Install]
    WantedBy=local-fs.target
{{- end -}}
{{- end -}}