# mandatory in all scenarios
ingressDomain: ""
# Zones of your seed have to fit to topology.kubernetes.io/zone label of your nodes that shoot control plane pods can be scheduled
zones: []

# Use configmap kube-system/shoot-info to determine missing values from "Manual or Gardener shoot-info" section
useGardenerShootInfo: true
# Use Gardener annotations to register DNS and TLS certificates for the domains listed in "Manual or Gardener shoot-info" section
useGardenerShootDNS: true

# Manual or Gardener shoot-info
registryDomain: ""
relayDomain: ""
nodeNetwork: ""
podNetwork: ""
provider: ""
region: ""
serviceNetwork: ""
