# etcd backup is disabled by default. If you would like to use it, please provide a backup secret here.
# Don't forget to mention it in garden.yaml in the same overlay.
# apiVersion: v1
# kind: Secret
# metadata:
#   name: virtual-garden-etcd-main-backup-remote
#   namespace: garden
# type: Opaque