apiVersion: v1
kind: Secret
metadata:
  name: default-domain-external-provider-extensions-gardener-cloud
  namespace: garden
  labels:
    app: gardener
    gardener.cloud/role: default-domain
  annotations:
    dns.gardener.cloud/provider: ""
    dns.gardener.cloud/domain: ""
    dns.gardener.cloud/zone: ""
type: Opaque
data: ""
---
apiVersion: v1
kind: Secret
metadata:
  name: internal-domain-internal-provider-extensions-gardener-cloud
  namespace: garden
  labels:
    app: gardener
    gardener.cloud/role: internal-domain
  annotations:
    dns.gardener.cloud/provider: ""
    dns.gardener.cloud/domain: ""
    dns.gardener.cloud/zone: ""
type: Opaque
data: ""
