apiVersion: v1
kind: Secret
metadata:
  name: default-domain-external-provider-extensions-gardener-cloud
  namespace: garden
  labels:
    app: gardener
    gardener.cloud/role: default-domain
  annotations:
    dns.gardener.cloud/provider: ""
    dns.gardener.cloud/domain: ""
    # dns.gardener.cloud/zone: ""
    # dns.gardener.cloud/domain-default-priority: "10"
type: Opaque
data: {}
  # Actual values here depend on the DNS extension of your choice.
  # For example, check out https://github.com/gardener/external-dns-management and find a lot of
  # example secret manifests here: https://github.com/gardener/external-dns-management/tree/master/examples
---
apiVersion: v1
kind: Secret
metadata:
  name: internal-domain-internal-provider-extensions-gardener-cloud
  namespace: garden
  labels:
    app: gardener
    gardener.cloud/role: internal-domain
  annotations:
    dns.gardener.cloud/provider: ""
    dns.gardener.cloud/domain: ""
    # dns.gardener.cloud/zone: ""
type: Opaque
data: {}
  # Actual values here depend on the DNS extension of your choice.
  # For example, check out https://github.com/gardener/external-dns-management and find a lot of
  # example secret manifests here: https://github.com/gardener/external-dns-management/tree/master/examples
