global:
  # Please use the values.yaml in this folder to main your domain secrets.
  # It is the values.yaml of controlplane helm chart at ./charts/gardener/controlplane
  internalDomain:
    provider: ""
    domain: ""
    zone: ""
    # All credential values must be base64 encoded
    credentials: {}
  defaultDomains:
  - provider: ""
    domain: ""
    zone: ""
    # All credential values must be base64 encoded
    credentials: {}
