global:
  # Please use the values.yaml in this folder to main your domain secrets
  internalDomain:
    provider: aws-route53
    domain: internal.domain.local
    zone: ""
    credentials: {}
  defaultDomains:
  - provider: aws-route53
    domain: shoot.domain.local
    zone: ""
    credentials: {}