global:
  # Please use the values.yaml in this folder to main your domain secrets
  internalDomain:
    provider: ""
    domain: ""
    zone: ""
    credentials: {}
  defaultDomains:
  - provider: ""
    domain: ""
    zone: ""
    credentials: {}