##########
# Please use this template to maintain your infrastructure workloadidentities and
# save the resulting file at infrastructure-workloadidentities.yaml file in the same directory.
# You can find a documentation in the respective gardener extension.
##########
---
apiVersion: security.gardener.cloud/v1alpha1
kind: WorkloadIdentity
metadata:
  name: infra-credentials
  namespace: ""
    # The name of the project prefixed with `garden-`, e.g. garden-<project-name>
spec:
  audiences:
  - ""
    # The audiences of the WorkloadIdentity token
  targetSystem:
    type: ""
      # type of the WorkloadIdentity provider, e.g. <aws|az|gcp|...>
    providerConfig: {}
      # Actual provider config of the WorkloadIdentity
