##########
# Please use this template to maintain your infrastructure secrets and
# save the resulting file at infrastructure-secrets.yaml file in the same directory.
# You can find a documentation in the respective gardener extension.
##########
---
apiVersion: v1
kind: Secret
metadata:
  name: infra-credentials
  namespace: garden-<project-name>
type: Opaque
data: {}
  # Actual values here depend on the provider extension of your choice.
  # For example, check out the known provider extensions https://github.com/gardener/gardener/blob/master/extensions/README.md#infrastructure-provider
  # and their documentation for concrete examples.