##########
# Please use this template to maintain your infrastructure secrets and
# save the resulting file at infrastructure-secrets.yaml file in the same directory.
# You can find a documentation in the respective gardener extension.
##########
