##########
# Please use this template to maintain your infrastructure secrets and
# save the resulting file at infrastructure-secrets.yaml file in the same directory.
##########
apiVersion: v1
kind: Secret
metadata:
  name: gcp
  namespace: garden-local
type: Opaque
data:
  serviceaccount.json: xyz
---
apiVersion: v1
data:
  accessKeyID: xyz
  secretAccessKey: xyz
kind: Secret
metadata:
  name: aws
  namespace: garden-local
type: Opaque
---
apiVersion: v1
data:
  clientID: xyz
  clientSecret: xyz
  subscriptionID: xyz
  tenantID: xyz
kind: Secret
metadata:
  name: azure
  namespace: garden-local
type: Opaque
