##########
# Please use this template to maintain your infrastructure secret bindings and
# save the resulting file at secret-bindings.yaml file in the same directory.
##########
apiVersion: core.gardener.cloud/v1beta1
kind: SecretBinding
metadata:
  name: gcp
  namespace: garden-local
  labels:
    cloudprofile.garden.sapcloud.io/name: gcp
    provider.extensions.gardener.cloud/gcp: "true"
provider:
  type: gcp
secretRef:
  name: gcp
  namespace: garden-local
---
apiVersion: core.gardener.cloud/v1beta1
kind: SecretBinding
metadata:
  name: aws
  namespace: garden-local
  labels:
    cloudprofile.garden.sapcloud.io/name: aws
    provider.extensions.gardener.cloud/aws: "true"
provider:
  type: aws
secretRef:
  name: aws
  namespace: garden-local
---
apiVersion: core.gardener.cloud/v1beta1
kind: SecretBinding
metadata:
  name: azure
  namespace: garden-local
  labels:
    cloudprofile.garden.sapcloud.io/name: az
    provider.extensions.gardener.cloud/azure: "true"
provider:
  type: azure
secretRef:
  name: azure
  namespace: garden-local
