##########
# Please use this template to maintain your infrastructure secret bindings and
# save the resulting file at secretbindings.yaml file in the same directory.
##########
---
apiVersion: core.gardener.cloud/v1beta1
kind: SecretBinding
metadata:
  name: infra-credentials
  namespace: garden-<project-name>
provider:
  type: <aws|az|gcp|alicloud|...> # Set the type of your provider.
secretRef:
  name: infra-credentials
  namespace: garden-<project-name>
