##########
# Please use this template to maintain your infrastructure secret bindings and
# save the resulting file at secretbindings.yaml file in the same directory.
# You can find a documentation in the respective gardener extension.
##########
