##########
# Please use this template to maintain your infrastructure secret bindings and
# save the resulting file at secretbindings.yaml file in the same directory.
##########
---
apiVersion: core.gardener.cloud/v1beta1
kind: SecretBinding
metadata:
  name: infra-credentials
  namespace: ""
    # The name of the project prefixed with `garden-`, e.g. garden-<project-name>
provider:
  type: ""
    # The type of your provider, e.g. <aws|az|gcp|alicloud|...>
secretRef:
  name: infra-credentials
  namespace: ""
    # The name of the project prefixed with `garden-`, e.g. garden-<project-name>
