##########
# Please use this template to maintain your infrastructure secret bindings and
# save the resulting file at secret-bindings.yaml file in the same directory.
# You can find a documentation in the respective gardener extension.
# AWS: https://github.com/gardener/gardener-extension-provider-aws/blob/master/docs/usage-as-end-user.md
# Azure: https://github.com/gardener/gardener-extension-provider-azure/blob/master/docs/usage-as-end-user.md
# GCP: https://github.com/gardener/gardener-extension-provider-gcp/blob/master/docs/usage-as-end-user.md
##########
