{{- define "kubelet" -}}
- name: kubelet.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=kubelet daemon
    Documentation=https://kubernetes.io/docs/admin/kubelet
    After=docker.service
    Wants=docker.socket rpc-statd.service
    [Install]
    WantedBy=multi-user.target
    [Service]
    Restart=always
    RestartSec=5
    EnvironmentFile=/etc/environment
    EnvironmentFile=-/var/lib/kubelet/extra_args
    ExecStart=/opt/bin/kubelet \
{{ include "kubelet-flags" . | trim | replace "\n" " \\\n" | indent 8 }}
{{- end -}}
