{{- define "kubelet-monitor" -}}
- name: kubelet-monitor.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Kubelet-monitor daemon
    After=kubelet.service
    After=kubectl-initializer.service
    After=health-monitor.service
    Wants=kubectl-initializer.service
    [Install]
    WantedBy=multi-user.target
    [Service]
    Restart=always
    EnvironmentFile=/etc/environment
    ExecStart=/opt/bin/health-monitor kubelet
{{- end -}}
