apiVersion: security.gardener.cloud/v1alpha1
kind: WorkloadIdentity
metadata:
  name: default-domain-external-remote-gardener-cloud
  namespace: garden
  labels:
    app: gardener
    gardener.cloud/role: default-domain
spec:
  audiences:
    - ""
      # The audiences of the WorkloadIdentity token
  targetSystem:
    type: ""
      # type of the WorkloadIdentity provider, e.g. <aws|az|gcp|...>
    providerConfig: {}
      # Actual provider config of the WorkloadIdentity
---
apiVersion: security.gardener.cloud/v1alpha1
kind: WorkloadIdentity
metadata:
  name: internal-domain-internal-remote-gardener-cloud
  namespace: garden
  labels:
    app: gardener
    gardener.cloud/role: internal-domain
spec:
  audiences:
    - ""
      # The audiences of the WorkloadIdentity token
  targetSystem:
    type: ""
      # type of the WorkloadIdentity provider, e.g. <aws|az|gcp|...>
    providerConfig: {}
      # Actual provider config of the WorkloadIdentity
