{{ define "kubelet" -}}
{{/* Do not remove the indentation, this is required because this template is imported by others */ -}}
- name: kubelet.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=kubelet daemon
    Documentation=https://kubernetes.io/docs/admin/kubelet
    After=docker.service
    Wants=docker.socket rpc-statd.service
    [Install]
    WantedBy=multi-user.target
    [Service]
    Restart=always
    RestartSec=10
    EnvironmentFile=/etc/environment
    ExecStartPre=/bin/docker run --rm -v /opt/bin:/opt/bin:rw {{ required "images.hyperkube is required" .images.hyperkube }} cp /hyperkube /opt/bin/
{{- if .kubernetes.kubelet.hostnameOverride }}
    ExecStartPre=/bin/sh -c 'hostnamectl set-hostname $(echo $HOSTNAME | cut -d '.' -f 1)'
{{- end }}
    ExecStart=/opt/bin/hyperkube kubelet \
{{ include "kubelet-flags" . | indent 8 }}
{{- end}}
