{{- define "update-ca-certs" -}}
{{- if .Values.caBundle -}}
- name: updatecacerts.service
  command: start
  content: |
    [Unit]
    Description=Update CA bundle at /etc/ssl/certs/ca-certificates.crt
    # Since other services depend on the certificate store run this early
    DefaultDependencies=no
    Wants=systemd-tmpfiles-setup.service clean-ca-certificates.service
    After=systemd-tmpfiles-setup.service clean-ca-certificates.service
    Before=sysinit.target kubelet.service
    ConditionPathIsReadWrite=/etc/ssl/certs
    ConditionPathExists=!/var/lib/kubelet/kubeconfig-real
    [Service]
    Type=oneshot
    ExecStart=/usr/sbin/update-ca-certificates --fresh
    ExecStartPost=/bin/systemctl restart docker
    [Install]
    WantedBy=multi-user.target
{{- end -}}
{{- end -}}
