{{ define "containerd-logrotate" -}}
- name: containerd-logrotate.service
  enable: true
  content: |
    [Unit]
    Description=Rotate and Compress System Logs

    [Service]
    ExecStart=/usr/sbin/logrotate /etc/systemd/containerd.conf

    [Install]
    WantedBy=multi-user.target
{{- end}}
