{{- define "docker-logrotate-timer" -}}
- name: docker-logrotate.timer
  enable: true
  command: start
  content: |
    [Unit]
    Description=Log Rotation at each 10 minutes

    [Timer]
    OnCalendar=*:0/10
    AccuracySec=1min
    Persistent=true

    [Install]
    WantedBy=multi-user.target
{{- end -}}
