{{ define "gardener-user" -}}
- name: gardener-user.service
  enable: true
  content: |
    [Unit]
    Description=Configure gardener user
    After=sshd.service
    [Service]
    Restart=on-failure
    EnvironmentFile=/etc/environment
    ExecStart=/var/lib/gardener-user/run.sh
{{- end}}
