{{ define "logrotate" -}}
- name: logrotate.service
  enable: true
  content: |
    [Unit]
    Description=Rotate and Compress System Logs

    [Service]
    ExecStart=/usr/sbin/logrotate /usr/share/logrotate/logrotate.conf

    [Install]
    WantedBy=multi-user.target
{{- end}}
