# etcd backup is disabled by default. If you would like to use it, please provide a backup secret here.
# Don't forget to mention it in remote overlay of gardenlet.
# apiVersion: v1
# kind: Secret
# metadata:
#   name: backup-remote
#   namespace: garden
# type: Opaque
