{{- define "containerd-initializer" -}}
- name: containerd-initializer.service
  command: start
  enable: true
  content: |
    [Unit]
    Description=Containerd initializer
    [Install]
    WantedBy=multi-user.target
    [Service]
    Type=oneshot
    RemainAfterExit=yes
    ExecStart=/opt/bin/init-containerd
{{- end -}}
