config:
  seedConfig:
    apiVersion: core.gardener.cloud/v1beta1
    kind: Seed
    metadata:
      # Automatically set
      name: ""
    spec:
      # Specify all fields when defining 'backup' so that they correctly overwrite the corresponding fields in example/gardener-local/gardenlet/values.yaml
      backup: null
      dns:
        provider:
          secretRef:
            # Automatically set when using a Gardener shoot
            name: ""
            namespace: garden
          # Automatically set when using a Gardener shoot
          type: ""
      ingress:
        controller:
          kind: nginx
        # Enter ingress domain of your seed
        domain: ""
      networks:
        blockCIDRs:
        - 169.254.169.254/32
        # Automatically set when using a Gardener shoot
        pods: ""
        # Automatically set when using a Gardener shoot
        nodes: ""
        # Automatically set when using a Gardener shoot
        services: ""
        shootDefaults:
          pods: 100.80.0.0/12
          services: 100.112.0.0/13
      provider:
        # Automatically set when using a Gardener shoot
        region: ""
        # Automatically set when using a Gardener shoot
        type: ""
        # Enter zones of your seed
        zones: []
      settings:
        dependencyWatchdog:
          weeder:
            enabled: true
          prober:
            enabled: true
        excessCapacityReservation:
          enabled: false
        scheduling:
          visible: true
        verticalPodAutoscaler:
          # If using a Gardener shoot, make sure that the shoot cluster has VPA enabled. Otherwise, enable VPA below in the seed spec.
          # Don't enable VPA for both the shoot control plane and the seed. 2 VPA deployments acting on the same cluster cause endless VPA eviction loops.
          enabled: false
